#top-navigation-component {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  border-bottom: 1px solid #EEEEEE;
  .session-container {
    background-color: #D32F2F;
    border-left: 5px solid darken(#D32F2F, 10);
    position: fixed;
    width: 220px;
    height: 60px;
    right: 0;
    color: #ffffff;
    padding: 15px;
  }
}