.initial-dashboard {
  color: #757575;
  h1 {
    color: #757575;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
  .ant-btn {
    margin-top: 15px;
  }
}

.initial-shops {
  padding: 30px;
}
.card-content {
  padding: 15px 0;
  b {
    color: #757575;
  }
}

.card-image {
  height: 200px;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .inner {
    padding: 0;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    img {
      max-width: 200px;
      width: auto;
      height: auto;
      max-height: 200px;
    }
  }
}

.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
  max-width: 200px;
  width: auto;
  height: auto;
  max-height: 200px;
}
.avatar-uploader {
  display: block;
  border: 1px dashed #d9d9d9;
  cursor: pointer;
  height: 200px;
  text-align: center;
}
.avatar-uploader-trigger {
  display: table-cell;
  vertical-align: middle;
  height: 200px;
  width: 200px;
  font-size: 28px;
  color: #999;
}